<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meet Your Coach</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="div-light py-5" style="background-color: rgba(255, 255, 255, 0.9);">
      <div style="color: rgba(30, 43, 138, 0.9)" class="my-7 tagline-upper text-center text-heading font-weight-bold d-none d-lg-block">Train With Wayne</div>

      <div style="color: rgba(30, 43, 138, 0.9)" class="tagline-lower font-weight-bold text-center text-expanded text-uppercase  d-none d-lg-block"><br>Making running easy for beginners and veterans for over 30 years</div>
    </div>
<br>

<!-- Navigation -->
<nav class="container navbar navbar-expand-lg navbar-light bg-faded py-lg-4" style="background-color: rgba(255, 255, 255, 0.9);">
  <div class="container">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Train With Wayne</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
          <a class="font-weight-bold nav-link text-uppercase text-expanded" href="index">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="font-weight-bold nav-link text-uppercase text-expanded" href="meetYourCoach">Meet Your Coach</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="font-weight-bold nav-link text-uppercase text-expanded" href="packagePricing">Packages</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="font-weight-bold nav-link text-uppercase text-expanded" href="contact">Contact</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="font-weight-bold nav-link text-uppercase text-expanded" href="testimonials">Testimonials</a>
        </li>
        <li class="nav-item px-lg-4">
          <a class="font-weight-bold nav-link text-uppercase text-expanded" href="cart">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
      <!-- About added timeline -->
  <div class="container div-light p-4" style="background-color: rgba(255, 255, 255, 0.9);">
          <div class="col-lg-12 text-center">
            <hr class="divider">
            <h2 style="color: rgba(30, 43, 138, 0.9)" class="font-weight-bold text-center text-xl my-0">Get To Know Your Coach</h2>
            <hr class="divider">
          </div>

        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1973</h4>
                    <h4 class="subheading">Organized Running Begins</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1987-1990</h4>
                    <h4 class="subheading">Coaching At High School Level</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1994-2010</h4>
                    <h4 class="subheading">Coaching Adults</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2011-Present</h4>
                    <h4 class="subheading">Coaching Adults and University Students</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

</div>
      <div class="bg-faded p-4 my-4 container">
      <hr class="divider">
      <h2 class="section-heading font-weight-bold text-center text-xl my-0" style="color: rgba(30, 43, 138, 0.9)">Personal Records</h2>
      <hr class="divider">
      <table class="table">
        <thead>
          <tr>
            <th>400 meters</th>
            <th>800 meters</th>
            <th>1 mile</th>
            <th>5k</th>
            <th>10k</th>
            <th>Half Marathon</th>
            <th>Marathon</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">50.3</th>
            <td>2:02</td>
            <td>4:32</td>
            <td>16:22</td>
            <td>35:00</td>
            <td>1:19</td>
            <td>3:03</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="div-light p-4 text-center" style="background-color: rgba(255, 255, 255, 0.9);">
      <div class="container">
        <p class="m-0">Copyright &copy; Wayne Young 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  </body>

</html>
